body{
    background-color: #0a0a0f;
    color: #FFFF;
    font-family: 'Audiowide';
    overflow: hidden;
}

h1{
    text-align: center;
}

.Subtítulo{
    text-align: center;
    position: absolute;
    white-space: nowrap;
    animation: rolar 10s linear infinite;
}

@keyframes rolar{
    from {
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}

.Notícias img{
    width: 20%;
    border-radius: 10px;
    text-align: center;
}

.Notícias{
    text-align: center

}

