@media (max-width: 600px){
   .header{
      background: #a5c;
      padding-inline: 16px;
   }
    *{
        margin: 0;
        padding: 0;
   }
    a{
       font-family: Audiowide;
       text-decoration: none;
    }
    .nav{
       max-width: 1280px;
       height: 70px;
       margin-inline: auto;

       display: flex;
       justify-content: space-between;
    }
    .logo{
       font-size: 48px;
    }
    .nav-list{
       display: flex;
       gap: 32px;
       list-style: none;
    }
    .nav-list a{
       font-size: 18px;
       color: #fff;
       padding-block: 16px;
    }
   .hero{
      height: calc(100vh - 70px);
      background: center / cover no-repeat
   }
}
